.address-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-top: 50px;
  }
  
  .autocomplete-dropdown-container {
    position: absolute;
    background-color: white;
    border-top: 0px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-bottom: 0px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    width: 300px;
    margin-top: 1px;
    margin-left: 12px;
    z-index: 1000;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item--active {
    background-color: #e6e6e6;
  }
  
  .AutocompleteAddressInput{
    padding: 10px;
    
  }