.results-div {
    display: flex;
    align-items: center;
    text-align: center;
}

.centered {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    margin-left: 32%;
}