.App {
  text-align: center;
}

.App-header {
  background-color: grey;
  padding: 20px;
}

.App-title {
  font-size: 32px;
  color: orange;
}

.App-content {
  margin-top: 40px;
  padding: 20px;
}

.search-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.App-footer {
  background-color: grey;
  margin-top: 200px;
  padding: 20px;
  color: white;
}
